.DS_Store
node_modules/
.yarn

.env.local
.env.*.local

.vitepress/cache
.vitepress/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.temp
.idea/
.zed/
.vscode/

release.data.json
changelogs.data.json

yarn.lock
pnpm-lock.yaml
